
body {
    background-color: #e9ecef;
    color: black
}

.wrapper{
    display: inline-block;
    margin: 8px;
}

/*
#flash_div {
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
  }
  
@keyframes hideAnimation {
    to {
            visibility: hidden;
            width: 0;
            height: 0;
        }
  }
  */
  